
<div class="login_body">
	<div class="login_bg"><!--背景-->
		<div class="log_body"><!--登录-->
			
			<div class="login_logo"><img src="../public/image/login_logo.png" alt="展会客户管理Logo" /></div><!--登录-->
			<div class="log_form">

				<form action="" method="post" target="send">				
				<input class="inp" name="userid" ng-model="vm.data.userid" placeholder="输入你的真实姓名" />
				<input class="inp" name="pwd" ng-model="vm.data.password" type="password"  />
                <input type="button" class="submit" value="" ng-click="vm.login()">
				</form>

			</div><!--登录-->
			<div class="log_foot">当前登录的是<span>  创意行通客户管理系统 </span></div><!--登录-->
			
		</div><!--登录-->
	</div><!--背景-->
</div>

